<div class="main">
  <div class="container">
    <h1>Hello my name is Lily</h1>
    <p>I make Rails apps.</p>
    <%= link_to 'Coder\'s Confessions about being a developing Developer', "/blogs" %>
  </div>
</div>
