<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title></title>
  </head>
  <body class="bg-red-800">

<div class="md:flex bg-white rounded-lg p-6">
  <a
    href="https://unangellily.github.io/portfolio/">
      <img
        class="h-16 w-16 md:h-24 md:w-24 rounded-full mx-auto md:mx-0 md:mr-6"
        src="https://unangellily.github.io/portfolio/public/images/lilyprofilepicture.jpeg">
  </a>
  <div class="text-center md:text-left">
    <h2 class="text-lg text-red-600">Lily J Herreria</h2>
    <div class="text-red-800">Software Enginner || Fullstack Developer</div>
    <div class="text-gray-600">Hello my name is Lily, I'm a Developer</div>
    <div class="text-gray-600">The best traits I have all come from f#$%king up</div>
    <br />
      <center>
        <p>
          You can't get better by being perfect, and we all start off somewhere,<br />
           so why not reflect on my f$%^ ups for entertainment value?</p><br />
            <p class="text-red-900"><%= link_to 'a Coder\'s Confessions about being a developing Developer', "/blogs" %></p><br />


 </div>
</div>

</body>
</html>
