<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title></title>
  </head>
  <body>

<div class="md:flex bg-white rounded-lg p-6">
  <img class="h-16 w-16 md:h-24 md:w-24 rounded-full mx-auto md:mx-0 md:mr-6" src="https://unangellily.github.io/portfolio/public/images/lilyprofilepicture.jpeg">
  <div class="text-center md:text-left">
    <h2 class="text-lg">Lily J Herreria</h2>
    <div class="text-purple-500">Software Enginner || Fullstack Developer</div>
    <div class="text-gray-600">Hello my name is Lily, I'm a Developer</div>
    <div class="text-gray-600">The best traits I have all come from f#$%king up</div>
    <br />
      <center>
        <p>
          I've had some of the worse $h!t happen to me. My "adventures" and "learning experiences" have not always been forgiving.<br />
          Some of my "growth opportunities" have lead to skydiving with a bunch of co-workers to get over an ex-boyfriend, a sleepover in Narita International Airport with a bunch of American's stuck in Japan, to being held hostage in a China police holding cell with two Italian English Teachers.<br />
          However, with the sci-fi like  events that 2020 brought I have been lead to a brand new wonderland of screw ups, CODE LAND. In this magical land of warnings and errors I have found plenty of new unique ways to f&^% up my applications.<br />
          You can't get better by being perfect, and we all start off somewhere, so why not reflect on my f$%^ ups for entertainment value?<br />
            <%= link_to 'a Coder\'s Confessions about being a developing Developer', "/blogs" %>
        </p>
 </div>
</div>

</body>
</html>
